$color-teal: #69A2B5;
$color-dark-teal: #196a85;
$color-off-white: #d1e3e9;
$font-montserrat: 'Montserrat', sans-serif;

html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-montserrat;
}

body{
  font-size: 16px;
}

p{
  line-height: 30px;
}

a{
  text-decoration: none;
}

section{
  margin: 0 10%;
}

.text--teal{
  color: $color-dark-teal;
}

.logo{
  height: 50px;
}

.flex{
  display: flex;
}

a{
  cursor: pointer;
}

.a--outline{
  padding: 0.5em 0.75em;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid #6b6b6b;
}

.a--teal{
  padding: 0.5em 0.75em;
  color: #ffffff;
  background-color: $color-teal;
  border-radius: 3px;
  border: none;;
}